@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora|Work+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
}
.page1 section {
    display: flex;
    justify-content: space-between;
  
}

.page1  article:nth-of-type(1){
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page1 section article:nth-of-type(2) img{
width: 60vw;
height: 100vh;
}
.page1 section article:nth-of-type(1) h1{
    font-family: 'Lora', serif;
    font-size: 5em;
    margin-bottom: 0;
}
.page1 section article:nth-of-type(1) p{
    font-family: 'Lora', serif;
    font-size: 1.5em;
}


.fix-nav {
    background-color: #2e2e2e;
    width: 100vw;
    display: flex;
   flex-direction: row;
   align-items: center;
   position: sticky;
   top:0;

}
.fix-nav nav{
    margin-left:20vw;
}
.fix-nav  nav ul li{
    list-style: none;
    display: inline;
    margin-right: 10vw;
}
.fix-nav nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1em;
}





.page2{
    background-color: #2e2e2e;
    height: 100vh;
}
.page2{
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: #2e2e2e;
}

.page2 section article{
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.page2 section
{
    display: flex;
    flex-direction: row;
}
.page2 section article:nth-of-type(2) h2{
    color: #fff;
    font-family: 'Lora', serif;
    font-size: 3em;
    text-align: center;
}
.page2 section article:nth-of-type(2){
   width: 45vw;
}
.page2 section article:nth-of-type(2) p{
    color: #fff;
    font-family: 'Lora', serif;
    font-size: 1em;
    margin-left: 5vw;
    word-spacing: 17px;
    line-height: 30px;
}
.page3 section:nth-of-type(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page3 section:nth-of-type(1) h3{
    font-family: 'Lora', serif;
    font-size: 3em;
    margin-bottom: 0;
}
.page3 section:nth-of-type(1) p{
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    line-height: 25px;
}
.page3 section:nth-of-type(2){
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
}
.page3 section:nth-of-type(2) figure img{
    width: 28vw;
}
.page3 section:nth-of-type(2) figure {
    margin-left: 2.5vw ;
}
.page3 section:nth-of-type(2) figure figcaption{
    text-align: center;
    font-family: 'Lora', serif;
}
.page3 section:nth-of-type(3){
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 10vh;

}
.page3 section:nth-of-type(3) iframe{
   width: 30vw;
   height: 30vh;
}
.page4{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    background-color: #2e2e2e;
}
.page4 article{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15vw;
}
.page4 article:nth-of-type(1) h4{
    font-family: 'Lora', serif;
    font-size: 3em;
    color: #fff;
}
.page4 article:nth-of-type(1) p{
    font-family: 'Lora', serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    color: #fff;
}
.form{
    width: 25vw;
}
.form label {
    font-size: 1em;
    color: #fff;
   
    font-family: 'Work Sans', sans-serif;
}
input[type="text"],input[type="email"], .form textarea{
    width: 20vw;

}
.form button{
    width: 8vw;
    height: 3vh;
    font-family: 'Lora', serif;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #fff;
}
footer{
    background-color: #1d2c2f;
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
footer p:nth-of-type(2){
   margin-left: 20vw;
   margin-right: 10vw;
}
footer p , footer a{
    color:#fff;
    font-size: 1.2em;
}
footer a{
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora|Work+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
}
.page1 section {
    display: flex;
    justify-content: space-between;
  
}

.page1  article:nth-of-type(1){
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page1 section article:nth-of-type(2) img{
width: 60vw;
height: 100vh;
}
.page1 section article:nth-of-type(1) h1{
    font-family: 'Lora', serif;
    font-size: 5em;
    margin-bottom: 0;
}
.page1 section article:nth-of-type(1) p{
    font-family: 'Lora', serif;
    font-size: 1.5em;
}


.fix-nav {
    background-color: #2e2e2e;
    width: 100vw;
    display: flex;
   flex-direction: row;
   align-items: center;
   position: sticky;
   top:0;

}
.fix-nav nav{
    margin-left:20vw;
}
.fix-nav  nav ul li{
    list-style: none;
    display: inline;
    margin-right: 10vw;
}
.fix-nav nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1em;
}





.page2{
    background-color: #2e2e2e;
    height: 100vh;
}
.page2{
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: #2e2e2e;
}

.page2 section article{
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.page2 section
{
    display: flex;
    flex-direction: row;
}
.page2 section article:nth-of-type(2) h2{
    color: #fff;
    font-family: 'Lora', serif;
    font-size: 3em;
    text-align: center;
}
.page2 section article:nth-of-type(2){
   width: 45vw;
}
.page2 section article:nth-of-type(2) p{
    color: #fff;
    font-family: 'Lora', serif;
    font-size: 1em;
    margin-left: 5vw;
    word-spacing: 17px;
    line-height: 30px;
}
.page3 section:nth-of-type(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page3 section:nth-of-type(1) h3{
    font-family: 'Lora', serif;
    font-size: 3em;
    margin-bottom: 0;
}
.page3 section:nth-of-type(1) p{
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    line-height: 25px;
}
.page3 section:nth-of-type(2){
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
}
.page3 section:nth-of-type(2) figure img{
    width: 28vw;
}
.page3 section:nth-of-type(2) figure {
    margin-left: 2.5vw ;
}
.page3 section:nth-of-type(2) figure figcaption{
    text-align: center;
    font-family: 'Lora', serif;
}
.page3 section:nth-of-type(3){
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 10vh;

}
.page3 section:nth-of-type(3) iframe{
   width: 30vw;
   height: 30vh;
}
.page4{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    background-color: #2e2e2e;
}
.page4 article{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15vw;
}
.page4 article:nth-of-type(1) h4{
    font-family: 'Lora', serif;
    font-size: 3em;
    color: #fff;
}
.page4 article:nth-of-type(1) p{
    font-family: 'Lora', serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    color: #fff;
}
.form{
    width: 25vw;
}
.form label {
    font-size: 1em;
    color: #fff;
   
    font-family: 'Work Sans', sans-serif;
}
input[type="text"],input[type="email"], .form textarea{
    width: 20vw;

}
.form button{
    width: 8vw;
    height: 3vh;
    font-family: 'Lora', serif;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #fff;
}
footer{
    background-color: #1d2c2f;
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
footer p:nth-of-type(2){
   margin-left: 20vw;
   margin-right: 10vw;
}
footer p , footer a{
    color:#fff;
    font-size: 1.2em;
}
footer a{
    text-decoration: none;
}

